@page
@model Web.Views.IndexModel
@{

}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="css\IndexStyle.css" />
</head>
<body>
    <header><h1>Menu</h1></header>
    
    <main>
        <table border="1">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Ingredients</th>
                <th>Grams</th>
                <th>Calories</th>
                <th>Cooking time</th>
                <th>Price</th>
                <th>Creation Date</th>
            </tr>
            <tr>
                <td>Hewwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwo world</td>
            </tr>

        </table>
    </main>

</body>

</html>
