@{
    ViewData["Title"] = "New";
    Layout = "_Layout";
}
<html>
<head>
    @section head{
        <link rel="stylesheet" href="~/css/NewItemStyle.css" />
        <script type="text/javascript" src="~/js/NewItemScript.js"></script>
    }
</head>
<body>
    <main>
            <div id="input-fields">
                <form action="/menu/new-item" method="post">
                    <div class="data-field">
                        <label>Title</label> <br />
                        <input type="text" name="title" placeholder="Title" required />
                    </div>
                    <div class="data-field">
                        <label>Description</label> <br>
                        <input type="text" name="description" placeholder="Description" required />
                    </div>
                    <div class="data-field">
                        <label>Ingredients</label><br>
                        <input type="text" name="ingredients" placeholder="Ingredients" required />
                    </div>
                    <div class="data-field">
                        <label>Grams</label><br>
                        <input type="text" name="grams" placeholder="Grams" required />
                    </div>
                    <div class="data-field">
                        <label>Calories</label><br>
                        <input type="text" name="calories" placeholder="Calories" required />
                    </div>
                    <div class="data-field">
                        <label>Cooking time</label><br>
                        <input type="text" name="cookingTime" placeholder="Cooking time" required />
                    </div>
                    <div class="data-field">
                        <label>Price</label><br>
                        <input type="text" name="price" placeholder="Price" required />
                    </div>
                    <button type="submit" id="submit-button">Submit</button>
                    <button type="button" id="cancel-button">Cancel</button>
                </form>
            </div>
        </main>
</body>

</html>
