body {
    margin: 0;
    padding: 0;
}
#items-table {
    margin: 0 auto;
    border-collapse: collapse;
    max-width: 1600px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    flex-direction: column;
}

#items-table th, #items-table td, #items-table tr {
    padding: 3px;
    width: 300px;
    height: 25px;
    word-break: break-word;
}

.table-data:hover{
    background-color:lightgray;
    cursor:pointer;
}

.table-data td{
    z-index: -1;
}
.table-data{
    z-index:5;
}

#new-item-button{
    margin-top:0;
    margin-left:25px;
    margin-bottom:25px;
}

#pagination{
    margin-top: 50px;
    height:25px;
}
a{
    text-decoration:none;
}