body {
    margin: 0;
    padding: 0;
}
#items-table {
    margin: 0 auto;
    border-collapse: collapse;
    max-width: 1600px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    flex-direction: column;
}

#items-table th, #items-table td, #items-table tr {
    padding: 3px;
    width: 300px;
    height: 25px;
    word-break: break-word;
}

.table-data:hover{
    background-color:lightgray;
    cursor:pointer;
}

.table-data td {
    z-index: -1;
    border-color: #d9d9d9;
    border-top-color: #a8a8a8;
    border-bottom-color: #a8a8a8;
}

.table-data{
    z-index:5;
}

#new-item-button {
    margin-top: 0;
    margin-left: 25px;
    margin-bottom: 25px;
    width: auto;
    font-weight: 500;
}

#pagination{
    margin-top: 50px;
    height:25px;
}
a{
    text-decoration:none;
}

#items-table tr th:hover {
    background-color: #f0faff;
    cursor:pointer;
}

#search-row td input {
    width:95%;
    border:none;
    outline:none;
    border-top:1px solid #e6e6e6;
    text-align:center;
    padding-top: 10px;
    padding-bottom: 10px;

    margin: 0 auto;
}
#search-table {
    margin: 0 auto;
    border-collapse: collapse;
    max-width: 1600px;
}

    #search-table th, #search-table td, #search-table tr {
        padding: 3px;
        width: 300px;
        height: 25px;
        word-break: break-word;
    }

#search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer span{
    margin-left:30px;
}
